<app-toolbar></app-toolbar>

<!-- ===================================================== -->
<!-- CABECERA PRINCIPAL                                    -->
<!-- ===================================================== -->
<header class="bg-custom-blue pt-40 pb-20 text-center">
    <div class="container">
        <div class="d-flex flex-col">
            <h1 class="display-2 text-white mb-4">Cita Previa </h1>
            <h2 class="fs-3 fw-lighter text-white">Antes de solicitar cita previa, recuerde que es posible
                la realización de numerosos trámites a través de la Sede Electrónica</h2>
            <div class="mt-10">
                <button mat-raised-button>Sede Electrónica</button>
            </div>
        </div>
    </div>
</header>

<div class="bg-custom-gray">
    <main class="container">

        <div class="my-10">
            <h2 class="fs-3 text-muted">¿Qué desea realizar?</h2>
        </div>

        <div class="row g-4">
            <div class="col-12 col-md-4">

                <mat-card matRipple>
                    <mat-card-title class="text-center">Pedir Cita</mat-card-title>
                    <div class="card-divider"></div>
                    <mat-card-content class="text-center text-muted">
                        Reserve cita previa en las oficinas municipales
                    </mat-card-content>
                    <mat-card-footer></mat-card-footer>
                </mat-card>

            </div>
            <div class="col-12 col-md-4">
                <mat-card matRipple>
                    <mat-card-title class="text-center">Mis Citas</mat-card-title>
                    <div class="card-divider"></div>
                    <mat-card-content class="text-center text-muted">
                        Consulte las citas que actualmente tiene reservadas
                    </mat-card-content>
                    <mat-card-footer></mat-card-footer>
                </mat-card>
            </div>
            <div class="col-12 col-md-4">
                <mat-card matRipple>
                    <mat-card-title class="text-center">Anular Cita</mat-card-title>
                    <div class="card-divider"></div>
                    <mat-card-content class="text-center text-muted">
                        Anule una cita reservada si no puede asistir a la misma
                    </mat-card-content>
                    <mat-card-footer></mat-card-footer>
                </mat-card>
            </div>
        </div>

    </main>

</div>
